:root {
  /* CRIANDO VARIAVEIS GLOBAIS */
--letter_color: #2b7e8dd0;
--letter_color_soft:#4598b6 ;
--hero_color_blue: #164047;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html{
  /* padronizar a responsividade */
  font-size: 62.5%;
}

header {  
  width: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #eeeeee;
  
}

header a {
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  padding: 0 3rem;
  color: var(--letter_color); 
  font-size: 2.5rem;
  font-weight: 500;
  
}

header a:hover {
  transition: 0.5s;
  color: var(--hero_color_blue);
}

.hero {
background-image: url(images/fundo.jpg);
opacity: 0.9;
background-size: cover;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: white;
  color: var(--hero_color_blue);
  opacity: 0.6;
  padding: 5rem;
  border-radius: 1rem;
   margin: 10% 10% 3% 10%;  /* mudar */
}

.hero-text h1 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 2rem;
  font-family: 'Oswald', sans-serif;
}

.hero-text p {
  font-size: 2.5rem;
  color: var(--letter_color_soft);  
  display: flex;
}

.hero a {
  background-color: white;
  color: var(--hero_color_blue);
  font-size: 2rem;
  font-weight: 600;
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
  padding: 1.5rem;
  margin:1rem;
  border-radius: 0.5rem;
  display: flex;
}

.hero a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color:var(--letter_color_soft);
}

.conteiner-1 {
  background-color: #d8d6d6f6;
  color:#454758;
  display: flex;
  justify-content:flex-start;
  padding: 50px;
}

.conteiner-1 h3 {
  color: #2b7e8dd0;
  font-size: 25px;
  margin: 20px
}

.conteiner-1 p {
  font-size: 20px;
  margin: 20px;
  width: 80%;
}

#picture {
  width: auto;
  height: 250px;
  border-radius: 100%;
  padding: 5px;
  margin-left: 15px;
}


.conteiner-2 {
  background-color:#164047d0;
  color:#eeeeee;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  padding: 50px;
}

.conteiner-2 h2 {
  color: #eeeeee;
  font-size: 25px;
  margin: 20px
}

.conteiner-2 li{
  font-size: 20px;
  margin: 20px;
  width: auto;
  list-style: none;
}

.conteiner-3 {
  background-color: #d8d6d6f6;
  color:#454758;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  padding: 50px;
}

.conteiner-3 h2 {
  color: var(--letter_color);
  font-size: 25px;
  margin: 20px
}

.conteiner-3 li{
  font-size: 20px;
  margin: 20px;
  width: auto;
  list-style: none;
}

.conteiner-4 {
  background-color:#164047d0;
  color:#eeeeee;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  padding: 50px;
}

.conteiner-4 h2 {
  color: #eeeeee;
  font-size: 25px;
  margin: 20px
}

.project a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 20px;
  margin: 20px;
  width: auto;
}

.project a:hover {
  text-decoration: none;
  color: #164047;
  font-weight: 600;
  transition: 0.5s;
  transform: scale(1.0);

}

.project {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  background-color:#164047;
  color: #d8d6d6f6;
  font-family: 'Roboto', sans-serif;
}

footer h2 {
  padding: 20px;
  font-weight: 600;
  font-size: 30px;
}

footer h3 {
  width: 100%;
  padding: 20px;
  font-weight: 300;
  text-align: center;
}

footer a {
  font-size: 25px;
  color: #164047;
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 10px;
  background-color: #d8d6d6f6;
  border-radius: 10px;
  
}

#certifc{
  color: #c52d2d;
  display: block;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
  width: 200px;
  margin-inline: auto;
}

#certifc a:hover{
  color: #d8d6d6f6;
}

footer a:hover {
  transform: scale(1.5);
  transition: 0.5s;
  color: #c52d2d;
  font-weight: 600;
}